p{
  font-family: helvetica;
}
header.masthead{
    text-align: center;
    background: url(https://data1.ibtimes.co.in/en/full/613326/mongol-rally.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    color: black;
    font-family: helvetica;
  }
@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: helvetica;
  }

header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: helvetica;
  }

ul {
  padding: 10px;
  background: black;
  font-family: helvetica;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-family: helvetica;
}
a {
  color: white;
  font-family: helvetica;
}
h1 {
  font-size: 80px
  font-family: helvetica;
}
h2 {
  font-size: 30px
  font-family: helvetica;
  font-style: italic;
}
h3 {
  font-size: 30px
  font-family: helvetica;
  font-style: italic;
}
img {
  margin: auto;
  border: 5px solid black;
  border-radius:20px;
}
.container1 {
  font-family: helvetica;
  align-items: center; 
  color: black;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}
