
ul {
  padding: 10px;
  background: black;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
a {
  color: white;
}
h1 {
  font-size: 80px
}
h2 {
  font-size: 30px
}
h3 {
  font-size: 30px
}
img {
  margin: auto;
  border: 5px solid black;
  border-radius:20px;
}
