p{
  font-family: helvetica;
}
header {
  font-family: helvetica;
  color: black;
  position: sticky;

}
body{
  background-image: url(/Users/user/Documents/GitHub/group_project/mongolrally2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 15px;
}
li{
  float: left;
  font-family: helvetica;
  color: white;
}

li a {
  display: block;
  color: white;
  background-position: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

.container {
  font-family: helvetica;
  color: white;
  display: inline;
  list-style: none;
  text-align: left;
  background-color: black;
  text-align:left;
  vertical-align: middle;
}
container1{
  background-color: white;
  padding: 10px 10px 10px 10px;
}

h1 {
  font-size: 70px;
  font-family: helvetica;
  text-align: center;
  background-color: olive;
  color: white;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form {
  display: block;
  text-align: center;
}
iframe{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
ul {
  display: inline-block;
  list-style: outside none none;
  align-items: flex-start;
}
.container2 {
  color: white;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: helvetica;

}

button {
  background-color: transparent;
  border-color: transparent;
}
